header {
  height: 100dvh;
  background: url(/assets/image/bg-slider-06.jpg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  nav {
    @media screen and (max-width: 950px) {
      justify-content: end;
      width: 100%;
      justify-items: end;
      min-width: none;
      ul:nth-child(2) {
        display: none;
      }
      ul:nth-child(3) {
        width: 50%;
        font-size: 1.2rem;
      }
    }

    width: 80%;
    color: white;
    @include deLaNav;

    // border: 1px solid rgba(255, 255, 255, 0.196);
    // border-radius: 30px;
    div {
      font-family: $font1;
      color: $color4;
      font-size: 2.9rem;
      font-weight: bolder;
      text-transform: capitalize;
    }
    ul {
      font-family: $font3;
      font-size: 0.8rem;
      font-weight: 100;
      text-transform: uppercase;
      @include desUL;
      li {
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          transform: scale(1.7);
          border-bottom: 1px solid white;
          cursor: pointer;
        }
      }
    }
  }
  #contenaire-nav-1 {
    // opacity: 0;
    margin-top: 150px;
    // background: rgba(255, 0, 0, 0.361);
    height: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    h1 {
      line-height: 45px;
      span:first-child {
        font-family: $font1;
        font-size: 3.5rem;
        text-transform: capitalize;
        color: $color4;
      }
      span:last-child {
        font-family: $font2;
        font-size: 4rem;
        // font-weight:bolder;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
    img {
      width: 50px;
      height: 50px;
    }
    p {
      font-family: $font3;
      font-weight: 100;
      text-transform: uppercase;
      color: $color5;
      letter-spacing: 5px;
    }
  }
}
