@font-face {
  font-family: allura;
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto-Light.ttf);
}
$font1: "allura";
$font2: "poppins";
$font3: "roboto";
//COLORS
$color1: #211f1e;
$color2: #eeeeee;
$color3: #000000;
$color4:#916641;
$color5:#CACBC5;
$color6:#21201E;
