@font-face {
  font-family: allura;
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto-Light.ttf);
}
$font1: "allura", cursive;
$font2: "poppins", sans-serif;
$font3: "roboto", sans-serif;
//COLORS
$color1: #211f1e;
$color2: #eeeeee;
$color3: #000000;
